@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITCCaslon224StdMedium';
  src: url('/fonts/ITCCaslon224StdMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'AvenirNextLTPro', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .color-primary {
    @apply bg-gradient-to-r from-blue-500 to-indigo-700 text-white;
  }
  .heading-primary {
    @apply text-xl mt-4 mb-2 font-caslon;
  }
  .heading-secondary {
    @apply text-xl font-semibold mt-4 mb-2 uppercase tracking-wider;
  }
  .heading-tertiary {
    @apply text-lg font-semibold uppercase tracking-wider text-center;
  }
  .color-primary {
    @apply bg-gradient-to-r from-blue-500 to-indigo-700 text-white;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-semibold;
  }
}
